/* Geral */
* {
    padding: 0;
    margin: 0;
    font-family: "ubuntu", sans-serif;
}

body {
    background: url('../img/nuvens-de-estilo-anime.jpg') center center/cover no-repeat;;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hide {
    display: none;
}

.container {
    background-color: rgba(18, 4, 172, 0.609);;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
    padding: 2rem;
    color: #fdfdfd;
    border-radius: 1rem;
}

#temperature {
    font-size: 1.4rem;
}

/* form */

.form-input-container {
    display: flex;
}

.form input {
    padding: .8rem;
    border: none;
    flex: 1;
    border-radius: 4px;
}

.form button {
    padding: 0.8rem;
    min-width: 50px;
    margin-left: 8px;
    background-color: #8dd0f5;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Clima */
#weather-data {
    border-top: 1px solid #fff;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
}

#weather-data h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6rem;
}

#weather-data h2 i {
    font-size: 1rem;
}

#weather-data span {
    margin: 0.6rem;
}

#country {
    height: 40px;
}

#description-container {
    justify-content: center;
    align-items: center;
    margin: 1rem ;
}

#description-container img {
    width: 80px;
}



#details-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#details-container #humidity{
    border-right: 1px solid #fff;
    margin: .6rem;
    padding: .6rem;
}